<!DOCTYPE html>
<html ng-app lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter Angular</title>
</head>

<body>
    <!-- 
        filter, orderBy
     -->
    <div ng-init="data=[{nama: 'Souma', kota: 'Jepang'},
                            {nama: 'Saiba', kota: 'Jepang'},
                            {nama: 'Takumi', kota: 'Italia'}]"></div>
    <input type="text" ng-model="hasil">

    <ul>
        <li ng-repeat="dn in data | filter:hasil | orderBy: 'nama'">{{ dn.nama }} Kota: {{ dn.kota | uppercase}}</li>
    </ul>
    <script src="../Path/angular.min.js"></script>
</body>

</html>