<div>
    <h3>Daftar Sekarang:: </h3>
    <input type="text" ng-model="hasil">
    <ul>
        <li ng-repeat="dn in data | filter:hasil | orderBy: 'nama'">
            nama : {{dn.nama}} kota: {{dn.kota}}
        </li>
    </ul>
</div>