<!DOCTYPE html>
<html ng-app lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directives and Data Bindings</title>
</head>

<body>
    <!-- 
        ng-app, ng-model, directives
        {{ expression }}
        ng-init, ng-model
    -->

    <input type="text" ng-model="namax"> Nama : {{ namax }}
    <br>
    <input type="text" ng-model="email"> Email : {{ email }}
    <br>
    <input type="text" ng-model="Alamat"> Alamat : {{ Alamat }}
    <br>
    <input type="submit" value="submit">

    <div ng-init="daftarnama=['Souma', 'Nakiri', 'Saiba', 'Joichiro']"></div>
    <ul>
        <li ng-repeat="dn in daftarnama">{{ dn }}</li>
    </ul>
    <script src="../Path/angular.min.js"></script>
</body>

</html>