<!DOCTYPE html>
<html ng-app="test-app" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controller</title>
</head>

<body>
    <div ng-controller="dataOrang">
        <input type="text" ng-model="hasil">
        <ul>
            <li ng-repeat="dn in data | filter:hasil">{{ dn.nama }} Kota: {{ dn.kota }}</li>
        </ul>
    </div>
    <script src="../Path/angular.min.js"></script>
    <script src="script.js"></script>
</body>

</html>